<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Admin</title>
</head>

<body>
    <nav class="h-16 bg-blue-700 items-center flex justify-between">
        <div class="text-white text-2xl">
            <p class="ml-4">Sports-Scheduler</p>
        </div>
        <div class="text-white">
            <button type="submit" class="mr-4 border-2 rounded p-1 hover:bg-blue-600">signout</button> 
        </div>
    </nav>
    <div class="container m-auto p-auto ">
        <div class="mt-10">
            <a href="/">Home</a> >
        </div>
        <div class=" mx-auto pt-6 mt-3 text-4xl flex ">
            <h1>Welcome User</h1>
        </div>
        <div class="py-3 ">
            <button type="submit" class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-3 py-2">Create Sport</button>
            <button type="submit" class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-3 py-2">View Report</button>
        </div>
        <hr>
        <div class="mt-6">
            <h1 class="text-2xl">Created By you</h1>
            <hr>
        </div>
        <div class="mt-6">
            <h1 class="text-2xl">Available sports</h1>
            <hr>
        </div>
    </div>

</body>

</html>
