<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Admin</title>
</head>

<body>
    <nav class="h-16 bg-blue-700 items-center flex justify-between">
        <div class="text-white text-2xl">
            <p class="ml-4">Sports-Scheduler</p>
        </div>
        <div class="text-white">
            <button type="submit" class="mr-4 border-2 rounded p-1 hover:bg-blue-600">signout</button>
        </div>
    </nav>
    <div class="container m-auto mt-10 p-auto">
        <div class="mt-6">
            <a href="/">Home</a> ><a href="/createsport">Sport#<%= sport.sports_name %></a>
        </div>
        <div class="mt-6">
            <%= sport.sports_name %>
        </div>
        <div class="mt-4">
            <a href="/sport/<%= sport.id %>/createSession" class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-5 py-2">Create new session</a>
            <a class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-5 py-2">View previous sessions</a>
        </div>
    </div>
</body>
</html>