<nav class="h-16 bg-blue-700 items-center flex justify-between">
    <div class="text-white text-2xl">
        <p class="ml-4">Sports-Scheduler</p>
    </div>
    <div class="text-white">
        <a href="/changepassword" class="m-4">Change Password</a>
        <a href="/signout" type="submit" class="mr-4 border-2 rounded p-1 hover:bg-blue-600">signout</a>
    </div>
</nav>