<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>SignUp</title>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <p class="py-2">Welcome to the TO-DO Manager</p>
            <p class="py-2">New here?<a class="text-green-600" href="/signup">Sign-Up Now</a></p>
            <p class="py-2">Already have an account?<a class="text-green-600" href="/login">Sign-in</a></p>
        </div>
    </div>

</body>

</html>