<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Index</title>
</head>

<body>
    <nav class="h-16 bg-blue-700 items-center flex justify-center">
        <div class="text-white text-2xl ">
            <p>Sports-Scheduler</p>
        </div>
    </nav>
    <div class="grid grid-cols-6 drop-shadow-xl ">
        <div class="col-start-3 border-4 p-5 my-5 col-span-2 rounded">
            <div class="col-start-3 col-span-2">
                <p class="py-2">Welcome to Sports-Scheduler</p>
                <p class="py-2">New here?<a class="text-blue-600" href="/signup">Sign-Up Now</a></p>
                <p class="py-2">Already have an account?<a class="text-blue-600" href="/login">Sign-in</a></p>
            </div>
        </div>
    </div>
</body>

</html>