<div class="mt-6">
    <h1 class="text-2xl">Created By you</h1>
    <% for(var i=0; i< allSports.length ;i++) { %>
        <div class="pt-4 flex-auto">
            <a>
                <li>
                    <%= allSports[i].sports_name %>
                </li>
            </a>
        </div>
    <% } %>
    <hr>
</div>